Repository dkeesey/dk-portfolio-windsurf: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: Add enterprise testing infrastructure
  .github/workflows/test.yml
  astro.config.mjs
  package-lock.json
  package.json
  playwright.config.ts
  src/__tests__/smoke.test.ts
  src/components/chatbot/tests/AuthFlow.test.tsx
  src/components/chatbot/tests/ChatWidget.test.tsx
  src/components/chatbot/tests/integration.test.ts
  src/lib/logger.ts
  src/lib/sentry.ts
  src/pages/api/health.ts
  src/test/setup.ts
  tests/e2e/3d-lab.spec.ts
  tests/e2e/home.spec.ts
  tests/e2e/navigation.spec.ts
  tests/e2e/pages.spec.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

fix: Add type safety and prerender to blog slug page
  .env.example
  src/pages/blog/[slug].astro
Due: eslint --fix, prettier --write

fix: Make GTMAnalytics optional when no tracking IDs provided
  src/components/GTMAnalytics.astro
Due: eslint --fix, prettier --write

fix: Correct Cloudflare Pages project name to deankeesey-com-v2
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: none

maintenance: /exit snapshot [2026-01-30_11-12-24]
  logs/ssl-check.log
Due: none

chore: Activate Sentry error tracking
  src/lib/sentry.ts
Due: eslint --fix, prettier --write

fix: switch from Node.js to Cloudflare adapter for Pages deployment
  astro.config.mjs
  package-lock.json
  package.json
  src/pages/api/_disabled/microtext.ts
  src/pages/api/_disabled/publish.ts
Due: eslint --fix, prettier --write

feat: Migrate to Astro 5.17.1 and rename project to deankeesey-com
  astro.config.mjs
  package-lock.json
  package.json
  src/content.config.ts
  src/layouts/RootLayout.astro
  src/pages/blog/[slug].astro
  src/pages/blog/index.astro
  src/pages/rss.xml.ts
  tsconfig.json
Due: eslint --fix, prettier --write

maintenance: /exit snapshot [2026-02-01_23-13-41]
  tmp/deankeesey-com-migration-handoff.md
Due: prettier --write

maintenance: /exit snapshot [2026-02-01_23-14-23]
  CLAUDE.md
Due: prettier --write

feat: Add /hire landing page for freelance positioning
  CLAUDE.md
  src/components/layout/Header.tsx
  src/components/sections/HirePage.tsx
  src/pages/hire.astro
Due: eslint --fix, prettier --write

maintenance: /exit snapshot [2026-02-03_19-02-52]
  tmp/upwork-gig-hunt-handoff.md
Due: prettier --write

maintenance: /exit snapshot [2026-02-04_10-19-40]
  tmp/gig-intel-pipeline-handoff.md
Due: prettier --write

maintenance: /exit snapshot [2026-02-04_14-05-15]
  tmp/gig-intel-pipeline-handoff.md
  tmp/slack-dashboard-complete-handoff.md
Due: prettier --write

feat: Add Sentry SDK with source maps upload
  astro.config.mjs
  package-lock.json
  package.json
Due: prettier --write

chore: Add tmp/*.md to gitignore
  .gitignore
Due: none

🚨 EMERGENCY SAVE: Auto-preserved due to unexpected interruption - 2026-02-09 23:31:28
  ANALYTICS-FIX-VERIFICATION-2025-11-08.md
  CLARITY-DEPLOYMENT-COMPLETE.md
Due: prettier --write

content: Add blog post draft - ASN blocking and developer imposter syndrome
  src/content/blog/when-platforms-hide-their-walls.md
Due: prettier --write

fix(analytics): repair GA4 tracking + reposition homepage hero
  astro.config.mjs
  src/components/GTMAnalytics.astro
  src/layouts/RootLayout.astro
  src/pages/index.mdx
Due: eslint --fix, prettier --write

chore: remove Netlify artifacts, consolidate on Cloudflare Pages
  netlify.toml
  netlify/functions/chatbot/chat.ts
  netlify/functions/chatbot/history.ts
  netlify/functions/submit-contact.js
Due: eslint --fix, prettier --write

feat: add /ai-stack positioning page + nav link
  src/components/layout/Header.tsx
  src/pages/ai-stack.astro
Due: eslint --fix, prettier --write

fix: tighten stack diagram width + update footer tagline
  src/components/layout/Footer.tsx
  src/pages/ai-stack.astro
Due: eslint --fix, prettier --write

feat(about): rewrite with AI Systems Builder positioning
  src/pages/about.astro
Due: eslint --fix, prettier --write

feat(hire): reposition as AI Systems Builder with new service framing
  src/components/sections/HirePage.tsx
  src/pages/hire.astro
Due: eslint --fix, prettier --write

feat(blog): publish "The Non-Determinism Defense"
  src/content/blog/the-non-determinism-defense.md
Due: prettier --write

feat(blog): add LinkedIn + X share buttons to post template
  src/pages/blog/[slug].astro
Due: eslint --fix, prettier --write

feat: migrate to Astro 6 beta + Cloudflare Workers v13
  .nvmrc
  astro.config.mjs
  docs/migrations/deankeesey-astro6-notes.mdx
  package-lock.json
  package.json
  public/.assetsignore
  public/scripts/analytics-tracking.js
  src/components/GTMAnalytics.astro
  src/hooks/useAnalytics.ts
  src/layouts/RootLayout.astro
  src/lib/analytics.ts
  src/lib/performance.ts
  src/styles/globals.css
  tailwind.config.mjs
  wrangler.jsonc
Due: eslint --fix, prettier --write

chore: add .wrangler/ to gitignore
  .gitignore
Due: none

🚨 EMERGENCY SAVE: Auto-preserved due to unexpected interruption - 2026-02-22 00:31:18
  .claude/fork-contexts/astro6-migration.md
  ephemera/astro6-migration-prompt.md
  memory/MEMORY.md
Due: prettier --write

docs: update CLAUDE.md to reflect current reality (Astro 5, CF Pages only)
  CLAUDE.md
Due: prettier --write

fix(analytics): remove GTM/Partytown, fix is:inline bug, delete wrong-site tracking file
  CLAUDE.md
  astro.config.mjs
  docs/migrations/deankeesey-astro6-notes.mdx
  package-lock.json
  package.json
  public/_headers
  public/scripts/analytics-tracking.js
  src/components/Analytics.astro
  src/components/GTMAnalytics.astro
  src/components/PostHog.astro
  src/layouts/RootLayout.astro
  tests/e2e/analytics.spec.ts
Due: eslint --fix, prettier --write

docs: update CLAUDE.md + memory for analytics simplification
  CLAUDE.md
  memory/MEMORY.md
Due: prettier --write

fix(analytics): assign window.gtag explicitly; fix soft-nav test to use ClientRouter click
  src/components/Analytics.astro
  tests/e2e/analytics.spec.ts
Due: eslint --fix, prettier --write

chore: remove Sentry — not warranted at current scale
  CLAUDE.md
  astro.config.mjs
  memory/MEMORY.md
  package-lock.json
  package.json
  src/lib/sentry.ts
Due: eslint --fix, prettier --write

test(analytics): add two-layer GA4 pipeline smoke test
  tests/e2e/analytics-realtime.spec.ts
Due: eslint --fix, prettier --write

chore: add gcli user story for analytics smoke test
  ai_docs/user_stories/analytics-smoke.md
Due: prettier --write

maintenance: /exit snapshot [2026-02-22_11-30-42]
  .claude/test-runs/gcli-ui-review-1771787153/prompts/prompt-analytics-smoke.txt
  .claude/test-runs/gcli-ui-review-1771787153/scripts/analytics-smoke.js
  .claude/test-runs/gcli-ui-review-1771787895/prompts/prompt-analytics-smoke.txt
  .claude/test-runs/gcli-ui-review-1771787895/scripts/analytics-smoke.cjs
  MIGRATION-COMPLETE.md
  MIGRATION-STATUS.md
  PHASE-2-COMPLETE.md
  undefined/step_1.png
  undefined/step_10.png
  undefined/step_11.png
  undefined/step_2.png
  undefined/step_3.png
  undefined/step_4.png
  undefined/step_5.png
  undefined/step_6.png
  undefined/step_7.png
  undefined/step_8.png
  undefined/step_9.png
Due: eslint --fix, prettier --write

chore: remove undefined/ screenshots dir from manual test run
  undefined/step_1.png
  undefined/step_10.png
  undefined/step_11.png
  undefined/step_2.png
  undefined/step_3.png
  undefined/step_4.png
  undefined/step_5.png
  undefined/step_6.png
  undefined/step_7.png
  undefined/step_8.png
  undefined/step_9.png
Due: none

chore: gitignore .claude/test-runs/ and screenshots/
  .claude/test-runs/gcli-ui-review-1771787153/prompts/prompt-analytics-smoke.txt
  .claude/test-runs/gcli-ui-review-1771787153/scripts/analytics-smoke.js
  .claude/test-runs/gcli-ui-review-1771787895/prompts/prompt-analytics-smoke.txt
  .claude/test-runs/gcli-ui-review-1771787895/scripts/analytics-smoke.cjs
  .gitignore
Due: eslint --fix, prettier --write

docs(CLAUDE.md): update with analytics test suite and gcli user story
  CLAUDE.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,astro}
  prettier --write: (any of: *.{js,jsx,ts,tsx,astro}) or (any of: *.{json,md})
