Repository dkeesey/dk-portfolio-windsurf: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: Improve timeline animation from horizontal to vertical
  memory-bank/activeContext.md
  src/components/sections/EnterpriseExperienceTimeline.tsx
Due: eslint --fix, prettier --write

feat: Add comprehensive AI multi-agent coordination blog post with technical diagrams
  memory-bank/activeContext.md
  public/images/blog/ai-multi-agent-coordination.svg
  public/images/blog/memory_evolution_diagram.svg
  public/images/blog/meta_prompt_workflow.svg
  src/content/blog/ai-multi-agent-coordination.md
Due: prettier --write

WIP: Auto-save at 2025-06-03 22:43:42
  CLAUDE.md
  blog-content/.DS_Store
  blog-content/ai-development-journey/.DS_Store
  docs/PROJECT_ORGANIZATION_PROTOCOL.md
  docs/deployment/DEPLOYMENT_TRACKING.md
  logs/ssl-check.log
  scripts/check-ssl.sh
  scripts/ssl-monitor.sh
  src/content/blog/breaking-claude-desktop-bottleneck.md
  src/content/blog/creative-destruction-rm-rf.md
Due: prettier --write

WIP: Auto-save at 2025-06-03 23:11:26
  CLAUDE.md
Due: prettier --write

🚨 EMERGENCY SAVE: Auto-preserved due to unexpected interruption - 2025-06-03 23:30:14
  CLAUDE.md
Due: prettier --write

WIP: Auto-save at 2025-06-03 23:47:20
  CLAUDE.md
Due: prettier --write

🚨 EMERGENCY SAVE: Auto-preserved due to unexpected interruption - 2025-06-05 23:30:13
  CLAUDE.md
  blog-content/.DS_Store
  blog-content/ai-development-journey/.DS_Store
  public/images/companies/.DS_Store
  src/content/blog/.DS_Store
Due: prettier --write

🚨 EMERGENCY SAVE: Auto-preserved due to unexpected interruption - 2025-06-06 23:30:12
  CLAUDE.md
Due: prettier --write

chore: update portfolio project files and configurations
  CLAUDE.md
  blog-content/ai-development-journey/04-resilient-memory-systems.md
  src/content/blog/ai-resilient-memory-systems.md
Due: prettier --write

Add .DS_Store patterns to .gitignore
  .gitignore
Due: none

🚨 EMERGENCY SAVE: Auto-preserved due to unexpected interruption - 2025-09-24 01:05:18
  tmp.27641.json
Due: prettier --write

Add blog post: I Chased the New Thing (MCPs) Until I Saw the Old Thing (Bash) Clearly
  src/content/blog/mcps-overengineering-bash-solution.md
Due: prettier --write

Add automatic Cloudflare Pages deployment via GitHub Actions
  .github/workflows/deploy.yml
Due: none

Fix workflow to trigger on master branch
  .github/workflows/deploy.yml
Due: none

Update workflow to support both main and master branches
  .github/workflows/deploy.yml
Due: none

Clean up workflow - only use main branch
  .github/workflows/deploy.yml
Due: none

Migrate to Analytics.astro component for standardized analytics
  ADD-DNS-TXT-RECORD.md
  astro.config.mjs
  public/scripts/analytics-tracking.js
  src/components/Analytics.astro
  src/components/GTMAnalytics.astro
  src/components/layout/Header.tsx
  src/components/sections/SkillsMatrix.tsx
  src/content/blog/ai-development-journey-overview.md
  src/content/blog/ai-hardware-foundation.md
  src/content/blog/ai-meta-prompt-strategy.md
  src/content/blog/ai-multi-agent-coordination.md
  src/content/blog/ai-multi-llm-integration.md
  src/content/blog/ai-operational-excellence.md
  src/content/blog/ai-resilient-memory-systems.md
  src/content/blog/ai-security-strategy.md
  src/content/blog/breaking-claude-desktop-bottleneck.md
  src/content/blog/cli-first-ai-workflows.md
  src/content/blog/creative-destruction-rm-rf.md
  src/content/blog/immersive-art-browsing-with-astro.md
  src/content/blog/increase-wordpress-docker-upload-limits.md
  src/content/blog/integrating-chatbots-with-astro.md
  src/content/blog/modern-css-techniques.md
  src/content/blog/multi-agent-orchestration-benefits.md
  src/content/blog/why-i-chose-astro.md
  src/content/blog/wordpress-ai-integration-docker.md
  src/layouts/RootLayout.astro
  src/pages/blog/index.astro
  src/pages/design-system.astro
  src/pages/prompt-engineering.astro
Due: eslint --fix, prettier --write

Migrate to enhanced GTMAnalytics component
  src/components/GTMAnalytics.astro
  src/layouts/RootLayout.astro
Due: eslint --fix, prettier --write

Add Microsoft Clarity tracking to analytics stack
  src/layouts/RootLayout.astro
Due: eslint --fix, prettier --write

Trigger Netlify rebuild - force deployment of analytics fix
  .gitignore
Due: none

🚨 EMERGENCY SAVE: Auto-preserved due to unexpected interruption - 2025-11-09 00:31:11
  .gitignore
  .obsidian/app.json
  .obsidian/appearance.json
  .obsidian/core-plugins.json
  .obsidian/workspace.json
  ANALYTICS-ACCESS-GUIDE.md
  ANALYTICS-FIX-VERIFICATION-2025-11-08.md
  ANALYTICS-VERIFICATION-REPORT-CORRECTED.md
  ANALYTICS-VERIFICATION-REPORT.md
  CLARITY-DEPLOYMENT-COMPLETE.md
  CLOUDFLARE-MIGRATION-STEPS.md
  MASUMIHAYASHI-ANALYTICS-REPORT.md
Due: prettier --write

Fix analytics: change gaId to ga4Id and enable FB Pixel
  src/layouts/RootLayout.astro
Due: eslint --fix, prettier --write

Standardize analytics configuration to use environment variables
  .env.example
  src/layouts/RootLayout.astro
Due: eslint --fix, prettier --write

Add blog post: Why I Build Everything on Cloudflare
  src/content/blog/ai-cloudflare-strategy.md
Due: prettier --write

Add test artifacts to .gitignore
  .gitignore
Due: none

🚨 EMERGENCY SAVE: Auto-preserved due to unexpected interruption - 2025-12-08 23:31:02
  public/images/blog/ai-needs-patterns-cloudflare.png
  public/images/blog/the-work-you-do-alone.png
  public/images/blog/wrangler-cowboy-cinematic.png
  public/images/blog/wrangler-cowboy-cloudflare.png
  public/images/blog/wrangler-cowboy-ghibli.png
  src/content/blog/ai-cloudflare-strategy.md
  src/content/blog/ai-needs-patterns-cloudflare.md
  src/content/blog/the-work-you-do-alone.md
Due: prettier --write

🚨 EMERGENCY SAVE: Auto-preserved due to unexpected interruption - 2026-01-06 23:31:04
  public/images/blog/thin-stacks-win.jpg
  public/images/blog/thin-stacks-win.png
  src/content/blog/thin-stacks-win.md
Due: prettier --write

Add article: Last Mover Advantage - Why WordPress Is Expensive for AI Development
  public/images/blog/last-mover-advantage.png
  src/content/blog/thin-stacks-win.md
Due: prettier --write

Add WordPress optimization article: 5-layer architecture from Walt Opie
  src/content/blog/optimizing-wordpress-for-ai-development.md
Due: prettier --write

Add hero image for WordPress optimization article
  public/images/blog/wordpress-ai-optimization.png
Due: none

feat: Migrate to 5-question bounded context structure
  CLAUDE.md
Due: prettier --write

Enable CLAUDE.md rewrite mode for bounded context
  .claude-rewrite-enabled
Due: none

🚨 EMERGENCY SAVE: Auto-preserved due to unexpected interruption - 2026-01-12 23:31:14
  ANTIGRAVITY.md
Due: prettier --write

feat: Migrate deankeesey.com to vibe-editor microtext pattern (Phase 1)
  MIGRATION-COMPLETE.md
  MIGRATION-STATUS.md
  astro.config.mjs
  package-lock.json
  package.json
  src/components/vibe/HeroSectionVibe.tsx
  src/components/vibe/MicroText.astro
  src/components/vibe/MicrotextEditor.tsx
  src/components/vibe/MicrotextReact.tsx
  src/layouts/RootLayout.astro
  src/lib/microtext-store.ts
  src/pages/_index.astro.backup
  src/pages/api/microtext.ts
  src/pages/api/publish.ts
  src/pages/index.mdx
Due: eslint --fix, prettier --write

feat: Enable vibe-editor edit mode (Phase 2 Complete) ✅
  PHASE-2-COMPLETE.md
  astro.config.mjs
  src/layouts/MdxLayout.astro
  src/pages/index.mdx
Due: eslint --fix, prettier --write

feat: Add 3D viewer experiments with model-viewer and React Three Fiber
  package-lock.json
  package.json
  public/models/demo.glb
  src/components/3d/Scene3D.tsx
  src/pages/experiments/3d-interactive.astro
  src/pages/experiments/3d-viewer.astro
Due: eslint --fix, prettier --write

feat: Add 3D Lab navigation link to header
  src/components/layout/Header.tsx
Due: eslint --fix, prettier --write

fix: Mobile experience section not loading - switch to immediate hydration
  src/components/sections/EnterpriseExperienceTimeline.tsx
  src/pages/index.mdx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,astro}
  prettier --write: (any of: *.{js,jsx,ts,tsx,astro}) or (any of: *.{json,md})
