Repository dkeesey/dk-portfolio-windsurf: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,astro}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

feat(analytics): migrate to CF Pages proxy-based script delivery
  functions/scripts/[name].js
  public/_headers
  src/components/Analytics.astro
Due: eslint --fix, prettier --write

chore: rename dk-portfolio-windsurf → deankeesey-com in docs
  CLOUDFLARE-MIGRATION-STEPS.md
  CONTACT-FORM.md
  SUPABASE.md
  blog-content/ai-development-journey/image-implementation-guide.md
  chatbot/chat-bot-metaprompt.md
  docs/deployment/DEPLOYMENT_TRACKING.md
  project-memory.md
  puppeteer-screenshot/README.md
  tmp/deankeesey-com-migration-handoff.md
Due: prettier --write

feat(indexnow): add IndexNow key verification file
  public/79704de38642310a026f5c44923d67c1.txt
Due: none

seo: expand robots.txt with full 2025 AI crawler list
  public/robots.txt
Due: none

seo: add IndexNow key file
  public/8d7ec6f21efd4cef984945a8e9cba53a.txt
Due: none

🚨 EMERGENCY SAVE: Auto-preserved due to unexpected interruption - 2026-02-23 23:31:19
  CLAUDE.md
  ai_docs/test_runs/20260222_133624/meta-pixel/screenshots/step_01_Navigate_to_Meta_Events_Manager_pixel_ov.png
  ai_docs/test_runs/20260222_133624/meta-pixel/screenshots/step_02_Check_for_login_wall_or_account_restrict.png
  ai_docs/test_runs/20260222_133624/meta-pixel/screenshots/step_03_Navigate_to_Meta_Business_Suite_home_to_.png
  ai_docs/test_runs/20260222_133624/meta-pixel/screenshots/step_04_Check_Facebook_main_page_for_account_sta.png
  ai_docs/test_runs/20260222_133624/meta-pixel/screenshots/step_05_Capture_final_page_state.png
  ai_docs/test_runs/20260222_133624/microsoft-clarity/screenshots/step_01_Navigate_to_Microsoft_Clarity_homepage.png
  ai_docs/test_runs/20260222_133624/microsoft-clarity/screenshots/step_02_Check_for_login_wall_or_redirect.png
  ai_docs/test_runs/20260222_133624/microsoft-clarity/screenshots/step_03_Navigate_directly_to_project_ID_u2pjuo05.png
  ai_docs/test_runs/20260222_133624/microsoft-clarity/screenshots/step_04_Check_project_dashboard_content.png
  ai_docs/test_runs/20260222_133624/microsoft-clarity/screenshots/step_05_Capture_full_page_state.png
Due: prettier --write

fix: resolve 404 errors on /blog (analytics CDN URLs + broken image)
  public/_headers
  src/components/Analytics.astro
  src/content/blog/when-platforms-hide-their-walls.md
Due: eslint --fix, prettier --write

docs(memory): document CF Pages Functions dead zone with Astro SSR build
  memory/MEMORY.md
Due: prettier --write

docs(memory): add Astro 6 CF Workers context to functions dead zone note
  memory/MEMORY.md
Due: prettier --write

maintenance: /exit snapshot [2026-02-24_14-43-16]
  public/_headers
  src/components/Analytics.astro
  src/pages/scripts/[name].ts
  tests/e2e/analytics.spec.ts
Due: eslint --fix, prettier --write

remove PostHog from deankeesey.com
  memory/MEMORY.md
  package-lock.json
  package.json
  public/_headers
  public/lib/posthog.js
  src/components/PostHog.astro
  src/components/analytics/PostHogAnalytics.astro
  src/hooks/useAnalytics.ts
  src/layouts/RootLayout.astro
  src/lib/analytics.ts
  src/lib/posthog.ts
  src/test/setup.ts
  src/types/posthog.d.ts
Due: eslint --fix, prettier --write

docs: add DECISIONS.md + TOMBSTONES.md, add preamble to CLAUDE.md
  CLAUDE.md
  DECISIONS.md
  TOMBSTONES.md
Due: prettier --write

docs: add ANTIGRAVITY.md context bridge stub
  ANTIGRAVITY.md
Due: prettier --write

feat: SA repositioning — case studies, site-wide AI Systems Architect framing
  public/images/blog/the-non-determinism-defense-hero.png
  public/images/blog/when-platforms-hide-their-walls-hero.png
  public/images/projects/deankeesey-screenshot.png
  public/images/projects/enterprise-automation-pipeline.png
  public/images/projects/masumi-hayashi-foundation-screenshot.png
  public/images/projects/multi-agent-coordination.png
  public/images/projects/prometheus-careers-screenshot.png
  public/images/projects/slack-analytics-intelligence.png
  src/components/layout/Header.tsx
  src/components/sections/EnterpriseExperienceTimeline.tsx
  src/components/sections/ExperienceTimeline.tsx
  src/components/sections/HeroSection.tsx
  src/components/sections/ProjectsGrid.tsx
  src/components/sections/SkillsMatrix.tsx
  src/components/sections/__tests__/projects-coherency.test.tsx
  src/components/sections/__tests__/projects-sa.test.tsx
  src/components/sections/__tests__/sa-coherency.test.tsx
  src/components/sections/__tests__/sa-positioning.test.tsx
  src/components/seo/SEO.astro
  src/content/blog/the-non-determinism-defense.md
  src/content/blog/when-platforms-hide-their-walls.md
  src/layouts/RootLayout.astro
  src/lib/azure-openai.ts
  src/pages/_index.astro.backup
  src/pages/about.astro
  src/pages/blog/index.astro
  src/pages/contact.astro
  src/pages/index.mdx
  src/pages/projects/enterprise-automation-pipeline.astro
  src/pages/projects/index.astro
  src/pages/projects/masumi-hayashi-foundation.astro
  src/pages/projects/multi-agent-coordination.astro
  src/pages/projects/slack-analytics-intelligence.astro
  src/pages/rss.xml.ts
  src/test/file-reading-hook.ts
  src/test/setup.ts
  tailwind.config.mjs
  vitest.config.ts
Due: eslint --fix, prettier --write

fix: add OG images to case study pages for LinkedIn Featured thumbnails
  src/pages/projects/enterprise-automation-pipeline.astro
  src/pages/projects/masumi-hayashi-foundation.astro
  src/pages/projects/multi-agent-coordination.astro
  src/pages/projects/slack-analytics-intelligence.astro
Due: eslint --fix, prettier --write

maintenance: /exit snapshot [2026-03-06_11-50-57]
  .claude/fork-contexts/li-sa-reposition.md
  tmp/gig-intel-pipeline-handoff.md
  tmp/slack-dashboard-complete-handoff.md
  tmp/upwork-gig-hunt-handoff.md
Due: prettier --write

fix: add og:image to projects index page (was falling back to missing og-default.jpg)
  src/pages/projects/index.astro
Due: eslint --fix, prettier --write

maintenance: /exit snapshot [2026-03-06_22-46-24]
  .claude/fork-contexts/li-graph-analysis.md
  CLAUDE.md
  DECISIONS.md
Due: prettier --write

feat(seo): add llms.txt for AI crawler discoverability
  public/llms.txt
Due: none

fix(contact): add email notification via Resend, remove dead Netlify code
  functions/api/contact.js
  src/components/forms/ContactForm.tsx
Due: eslint --fix, prettier --write

refine: portfolio positioning — replace dollar metric with Fortune 50, drop skill level badges
  src/components/sections/EnterpriseExperienceTimeline.tsx
  src/components/sections/SkillsMatrix.tsx
Due: eslint --fix, prettier --write

redesign: replace SkillsMatrix with plain two-column What I Do section
  src/components/sections/SkillsMatrix.tsx
Due: eslint --fix, prettier --write

rename: Token Overflow -> Last Mover Advantage + new hero copy
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/search/CommandMenu.tsx
  src/pages/blog/index.astro
  src/pages/index.mdx
Due: eslint --fix, prettier --write

add: blog post seeds -- The Hoarding Problem + Last Mover Advantage manifesto
  src/content/blog/last-mover-advantage-manifesto.md
  src/content/blog/the-hoarding-problem.md
Due: prettier --write

seed: Last Mover Advantage manifesto -- enterprise doom loop + sailor/wind reframe
  src/content/blog/last-mover-advantage-manifesto.md
Due: prettier --write

fix: replace Calendly with Cal.com links, add 30-min option
  src/components/forms/ContactForm.tsx
Due: eslint --fix, prettier --write

feat(hero): replace lava lamp with marble run sculpture, WCAG-compliant buttons — positions site as precision/craft not colorful chaos
  CLAUDE.md
  public/images/marble-run-hero.png
  src/components/sections/HeroSection.tsx
  src/components/vibe/HeroSectionVibe.tsx
Due: eslint --fix, prettier --write

feat(projects): add Prometheus Careers, Prettify AI, ClientEngine AI — portfolio was missing three owned products
  public/images/projects/clientengineai-screenshot.png
  public/images/projects/prettify-ai-screenshot.png
  src/components/sections/ProjectsGrid.tsx
Due: eslint --fix, prettier --write

fix(content): fix blog frontmatter schema — seed posts missing description/publishDate broke CF Pages build
  src/content/blog/last-mover-advantage-manifesto.md
  src/content/blog/the-hoarding-problem.md
  src/content/projects/.gitkeep
Due: prettier --write

fix(tests): update stale assertions — allow external project links, flexible project count, updated hero/SkillsMatrix expectations
  src/components/sections/__tests__/projects-coherency.test.tsx
  src/components/sections/__tests__/projects-sa.test.tsx
  src/components/sections/__tests__/sa-positioning.test.tsx
Due: eslint --fix, prettier --write

fix(e2e): update hero assertions to match new positioning copy
  tests/e2e/home.spec.ts
Due: eslint --fix, prettier --write

feat(portfolio): case studies, card reorder, compliance section, blog rewrite
  src/components/sections/ProjectsGrid.tsx
  src/components/sections/__tests__/projects-sa.test.tsx
  src/content/blog/multi-agent-orchestration-benefits.md
  src/pages/ai-stack.astro
  src/pages/projects/clientengine-ai.astro
  src/pages/projects/multi-agent-coordination.astro
  src/pages/projects/prettify-ai.astro
  src/pages/projects/prometheus-careers.astro
Due: eslint --fix, prettier --write

fix(ci): bump Node to 20 in deploy workflow — wrangler v4 requires Node 20+
  .github/workflows/deploy.yml
Due: none

docs(ephemera): remove obsolete astro 6 migration prompt — reduce context noise
  ephemera/astro6-migration-prompt.md
Due: prettier --write

docs(tmp): remove migration handoff — decommission transient notes following successful environment migration
  tmp/deankeesey-com-migration-handoff.md
Due: prettier --write

feat(blog): expand seeds and rewrite to practitioner voice
  src/content/blog/breaking-claude-desktop-bottleneck.md
  src/content/blog/cli-first-ai-workflows.md
  src/content/blog/last-mover-advantage-manifesto.md
  src/content/blog/the-hoarding-problem.md
Due: prettier --write

chore(.claude): update 2 files
  .claude/fork-contexts/blog-posts-continue.md
  .claude/fork-contexts/deankeesey-com-nate-vocab.md
Due: prettier --write

docs: update CLAUDE.md, DECISIONS.md
  CLAUDE.md
  DECISIONS.md
Due: prettier --write

chore(ephemera): update nate-b-jones-transcript.md
  ephemera/nate-b-jones-transcript.md
  src/components/sections/HirePage.tsx
  src/components/sections/ProjectsGrid.tsx
  src/pages/ai-stack.astro
  src/pages/projects/multi-agent-coordination.astro
Due: eslint --fix, prettier --write
